
.App {
	text-align: center;
}

.links a {
	color: rgb(72, 67, 67);
	text-decoration: none;
}

.icon-color{
	color: white;
	margin-right: 20px
}

.profile-email a{
	text-decoration: none;
	font-size: 15px;
	color: rgb(119, 113, 113);

}

.s{
	background: blue;
}